@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

:root {
    --font-color: #2a2e2f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 3rem;
}

.title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.section {
    padding: 1.5rem 0;
}

.section__title {
    border-bottom: 1px solid var(--font-color);
    margin-bottom: 1.5rem;
    padding-bottom: .75rem;
    text-transform: uppercase;
}

.section__components {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    margin-bottom: 1.5rem;
}